[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-cors-headers = "*"
python-decouple = "*"
flake8 = "*"
djangorestframework-simplejwt = "*"
pyjwt = "*"
django = "==3.2.9"
faker = "*"
factory-boy = "*"

[dev-packages]

[requires]
python_version = "3.8"
